<html>
    <head>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
        <style>
            img{
                width:200px;
                height: 200px;
            }
            .button{
            background-color: rgb(25, 139, 238);
            border: none;
            padding: 1rem;
            border-radius: 5px;
            color:  white;
            font-size: 1rem;
        }
        .button-area{
            text-align: center;
            }
        h5{
            text-align: center;
        }
      

        </style>
    </head>
    <body style="padding: 60px; padding-top: 40px; background-color: rgb(231, 228, 228);">

       <h3 style="text-align: center; padding-bottom: 20px;"> Select the service you want to update </h3>
        <div class="row row-cols-1 row-cols-md-4 g-4" style="background-color:  rgb(231, 228, 228);">
            <div class="col">
              <div class="card h-100">
                <img src="/static/hotel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hotel</h5>
                   </div>
                <div class="button-area">
                    <form action="/adminpage2" method="post">
                      <input type="submit" name="a1" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                    </form>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/static/resort.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Resorts </h5>
               </div>
                <div class="button-area">
                    <form action="/adminpage2" method="post">
                      <input type="submit" name="a2" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                    </form>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/static/tourist.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tourist spots</h5>
               </div>
                <div class="button-area">
                    <form action="/adminpage2" method="post">
                      <input type="submit" name="a3" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                    </form>
                  </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100">
                  <img src="/static/guide.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Guides</h5>
                  </div>
                  <div class="button-area">
                    <form action="/adminpage2" method="post">
                      <input type="submit" name="a4" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                    </form>
                  </div>
                </div>
              </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/cabs.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cabs</h5>
              </div>
              <div class="button-area">
                <form action="/adminpage2" method="post">
                  <input type="submit" name="a5" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/hospital.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Hospitals</h5>
              </div>
              <div class="button-area">
                <form action="/adminpage2" method="post">
                  <input type="submit" name="a6" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/cinema.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cinema Theatres</h5>
              </div>
              <div class="button-area">
                <form action="/adminpage2" method="post">
                  <input type="submit" name="a5" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/pilgrim.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">pilgrim Centres</h5>
              </div>
              <div class="button-area">
                <form action="/adminpage2" method="post">
                  <input type="submit" name="a5" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                </form>
              </div>
            </div>
          </div>
        </div>
        
    </body>
</html>