<html>
    <head>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
        <style>
            img{
                width:400px;
                height: 400px;
            }
            .button{
            background-color: rgb(25, 139, 238);
            border: none;
            padding: 1rem;
            border-radius: 5px;
            color:  white;
            font-size: 1rem;
        }
        .button-area{
            text-align: center;
            }
        h5{
            text-align: center;
        }

        </style>
    </head>
    <body style="padding: 70px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="/static/hyderabad.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hyderabad</h5>
                  <p class="card-text">Hyderabad, the city of pearls, is a beautiful blend of ancient history and modern technology, making it a must-visit destination for travelers. With its iconic Charminar, delectable biryani, and vibrant markets, Hyderabad offers a sensory experience like no other.</p>
                </div>
                <div class="button-area">
                    <form action="/adminpage1" method="post">
                      <input type="submit" name="a1" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                    </form>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/static/delhi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Delhi </h5>
                  <p class="card-text">Delhi, the capital city of India, is a vibrant metropolis that seamlessly blends ancient heritage with modernity, making it an exciting destination. From the iconic Red Fort to the bustling Chandni Chowk market, Delhi offers a sensory overload that will leave you mesmerized..</p>
                </div>
                <div class="button-area">
                    <form action="/adminpage1" method="post">
                      <input type="submit" name="a2" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                    </form>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/static/mumbai.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mumbai</h5>
                  <p class="card-text"> Mumbai, the city of dreams, is a bustling metropolis that never sleeps, offering a unique blend of tradition and modernity that is sure to captivate visitors. With its iconic Gateway of India, sandy beaches, and bustling street markets, Mumbai offers a great experience. </p>
                </div>
                <div class="button-area">
                    <form action="/adminpage1" method="post">
                      <input type="submit" name="a3" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                    </form>
                  </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100">
                  <img src="/static/vizag.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Vishakapatnam</h5>
                    <p class="card-text">Vishakapatnam, is a charming coastal city, that offers a perfect blend of natural beauty and urban lifestyle. With its pristine beaches, scenic hills, and lush green parks, Vizag is a paradise for nature lovers and adventure seekers.</p>
                  </div>
                  <div class="button-area">
                    <form action="/adminpage1" method="post">
                      <input type="submit" name="a4" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                    </form>
                  </div>
                </div>
              </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/blore.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bangalore</h5>
                <p class="card-text">Bangalore, also known as the Silicon Valley of India, is a vibrant and dynamic city that offers a perfect blend of technology, culture, and nature, making it a must-visit destination for travelers. It offers a perfect mix of history and nature, providing visitors with a unique experience.</p>
              </div>
              <div class="button-area">
                <form action="/adminpage1" method="post">
                  <input type="submit" name="a5" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/static/trivendram.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"> Trivendram is Known for its rich cultural heritage and architectural marvels. Whether you're a foodie looking to savor the famous Kerala cuisine or a beach lover eager to explore the pristine waters of Kovalam Beach, Trivandrum has something for everyone.</p>
              </div>
              <div class="button-area">
                <form action="/adminpage1" method="post">
                  <input type="submit" name="a6" value=" &nbsp &nbsp &nbsp Select &nbsp &nbsp &nbsp" class="button" />
                </form>
              </div>
            </div>
          </div>
        </div>
        
    </body>
</html>